@media (min-width:550px) and (max-width:767px) {
    body{
        background-image: linear-gradient(to right,rgb(46, 44, 148),grey);
        background-size: 900px;
    }
    .container{ 
       display: block;
       background-color: rgb(172, 178, 189);
       width: 365px;
       height: 485px;
      margin-left: 190px;
      
   }
   .calci{
    background-image: linear-gradient(to right,rgb(151, 140, 140),rgb(37, 37, 114));
    box-shadow:10px 10px 10px rgb(180, 167, 167);
    padding: 20px 20px 20px 20px;
    height: 450px;
    width: 325px;
}
.buttons input{
    width: 78px;
    height: 60px;
    font-size: medium;
    background-color: grey;
    border: 2px solid rgb(33, 33, 160);
    transition: 0.3s ease;
}
.buttons input:hover{
    transform: scale(1.1);
    box-shadow: 1px 2px 3px rgb(28, 75, 97);
  }
.display input{
    width: 315px;
    height:60px ;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 10px;
    border: 2px solid rgb(33, 33, 160);
}
h1{
    color: rgb(44, 43, 43);
    font-weight: bold;
    margin-top: 120px;
    margin-left: 205px;
}
button{
    margin-left: 5px;
    background-color: black;
    color: white;
    margin-top: -100px;
    margin-right: 10px;
}
}